@import "tailwindcss";

/* @theme {
  --font-sequel: "Sequel Sans", sans-serif;
} */

@font-face {
  font-family: "Sequel Sans";
  src: url("/fonts/Sequel-Sans-Font-Family/Sequel-Sans-Font-Family-DEMO/Sequel Sans OTF/Sequel Sans Roman Body.otf")
    format("opentype");
  font-weight: 310;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("/fonts/Sequel-Sans-Font-Family/Sequel-Sans-Font-Family-DEMO/Sequel Sans OTF/Sequel Sans Medium Head.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("/fonts/Sequel-Sans-Font-Family/Sequel-Sans-Font-Family-DEMO/Sequel Sans OTF/Sequel Sans Medium Disp.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("/fonts/Sequel-Sans-Font-Family/Sequel-Sans-Font-Family-DEMO/Sequel Sans OTF/Sequel Sans Medium Disp.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MixtaPro";
  src: url("/fonts/mixta-pro-it-light_freefontdownload_org/mixta-pro-it-light/mixta-pro-it-light.otf")
    format("opentype");
  /* font-weight: 300; */
  font-style: italic;
  font-display: swap;
}
