.submit-btn {
  color: #000;
  transition: color 0.3s ease;
}

.submit-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0D1334;
  transform: translateX(-101%);
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 0;
  border: 1px solid #fff;
  box-shadow: rgba(248, 247, 247, 0.1) 0px 4px 12px;
}

.submit-btn:hover::before {
  transform: translateX(0);
}

.submit-btn:hover {
  box-shadow: rgba(248, 247, 247, 0.1) 0px 4px 12px;
  color: #fff;
}

.submit-btn:hover .btn-text,
.submit-btn:hover .btn-icon,
.submit-btn:hover .btn-icon i {
  color: #fff;
}
